.x-content {
    margin: 0.3em;
}

footer {
    font-size: 60%;
    text-align: center;
}

/* for spinner */
#waiting {
    text-align: center;
    font-size: 1000%;
    color: lightgray;
}

.search-bar i  {
    font-size: 160%;
    display: block;
    margin-top: 0.2em;
}

.search-bar i.icon-plus-squared , .search-bar i.icon-google-drive-logo {
    text-align: right;
}

.listing section.pure-u-1 {
    margin-bottom: 0.6em;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

.hashtag {
    padding: 0 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
}

article mark.hashtag {
    background-color: #76D8FF;
}

vertex-detail article {
    border-left: 0.3em solid;
    border-left-color: lightgray;
    font-size: 120%;
    line-height: 130%;
}

vertex-detail header {
    background-color: lightgray;
    padding: 0.3em 0;
    margin: 0.3em 0;
}

.sentence nav {
    display: inline;
}

ul.edges {
    margin: 0;
    padding: 0;
}

ul.edges-inner li {
    display: inline;
}

.edges-inner a.hashtag {
    background-color: #20FC90;
}

.edges-outer a.hashtag {
    background-color: #FFD637;
}

.sentence .hashtag {
    background-color: #FC70C2;
    cursor: pointer;
}
