.content {
    margin: 0.3em;
}

footer {
    font-size: 60%;
    text-align: center;
}

.listing section.pure-u-1 {
    margin-bottom: 0.6em;
}

a:link, vertex a:visited {
    text-decoration: none;
    color: black;
}

.hashtag {
    padding: 0 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
}

article mark.hashtag {
    background-color: #76D8FF;
}

vertex-detail article {
    border: 1px solid;
    padding: 0.6em;
}

hashtag-decorator nav {
    display: inline;
}

hashtag-decorator nav a.hashtag {
    background-color: #FC70C2;
}

.button-success {
    background: #20FC90; /* this is a green */
}

.button-error {
    background: #FC70C2; /* this is a red */
}

.button-warning {
    background: #FFD637; /* this is an orange */
}

.button-primary {
    background: #76D8FF;
}
