footer {
    font-size: 60%;
    text-align: center;
}

/* for spinner */
#waiting {
    text-align: center;
    font-size: 1000%;
    color: lightgray;
}

/* search bar */
.search-bar {
    margin-bottom: 0.6em;
}

.search-bar i  {
    font-size: 160%;
    display: block;
    margin-top: 0.2em;
}

.search-bar i.icon-plus-squared , .search-bar i.icon-google-drive-logo {
    text-align: right;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

.search-bar a i {
    cursor: pointer;
}

/* form */
vertex-form form {
    margin-bottom: 1em;
}

.pure-button.button-primary {
    background-color: #76D8FF;
}

/* hashtag decoration */
.hashtag {
    padding: 0 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
}

article mark.hashtag {
    background-color: #76D8FF;
}

.sentence nav {
    display: inline;
}

.sentence .hashtag {
    background-color: #FC70C2;
    cursor: pointer;
}

/* listing */
ul.vertex {
    list-style-type: none;
    padding-left: 0;
}

ul.vertex > li {
    margin-bottom: 0.6em;
}

/* vertex detail */
vertex-detail header {
    background-color: #76D8FF;
    padding: 0.3em 0;
    margin-bottom: 0.6em;
}

vertex-detail header a {
    cursor: pointer;
}

vertex-detail hashtag-decorator {
    padding-left: 0.3em;
    padding-bottom: 0.6em;
}

ul.edges {
    margin: 0;
    padding: 0;
}

ul.edges-inner li {
    display: inline;
}

.edges-inner a.hashtag {
    background-color: #20FC90;
}

.edges-outer a.hashtag {
    background-color: #FFD637;
}



